.header_1 {
  /*Переименованили название класса*/
  grid-area: h;
  background-color: chartreuse;
}

.header_1 img {
  width: 90px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: midnightblue;
}