.nav_1 {
  grid-area: n;
  background-color: cyan;
  /*устанавливает внутренние отступы*/
  padding: 20px;
}

.item {
  color: white;
}

.item.active {
  color: green;
}

/*работа с ссылкой*/
.item a.activeLink{
  color: yellow;
}

.item a {
  color: white;
  text-decoration: none;
}
